/* Add your CSS styles here */
body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
}

header {
        background: #ffffff;
        color: #020202;
        padding: 10px 0;
}

nav ul {
        list-style-type: none;
        padding: 20px;
        text-align: right;
}

nav ul li {
        display: inline;
        margin-right: 20px;
}

nav ul li a {
        color: #000000;
        text-decoration: none;
}

.banner {
        background: url("/images/banner.jpeg") no-repeat center center;
        background-size: cover;
        color: #fff;
        padding: 100px 0;
        text-align: center;
}

#about {
        padding: 50px 20px;
        background: #f8f8f8;
}
/* Add your CSS styles here */
body,
h1,
p {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
}

.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1850px; 
        margin: auto;
}

.text-section {
        flex-basis: 50%; 
        padding: 40px; 
        text-align: left;
}

.underline {
        width: 50px; 
        height: 4px; 
        background-color: #000; 
        margin-bottom: 20px;
}

button {
        background-color: rgb(129, 87, 8);
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        text-transform: uppercase;
}

button:hover {
        background-color: #444;
}

.image-section {
        flex-basis: 50%; 
        text-align: right; }

.image-section img {
        max-width: 100%;
        height: auto;
}

/* Add responsive design */
@media (max-width: 1200px) {
        .container {
                flex-direction: column;
                align-items: stretch;
        }

        .text-section,
        .image-section {
                flex-basis: 100%;
        }

        .image-section {
                order: -1; 
        }
}

/* Further media queries can be added to adjust for smaller screens */

.services-container {
        display: flex;
        width: 100%;
        height: auto; 
}

.service-description {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 20px;
        background: #fff; 
}

.service-image {
        width: 40%; 
        height: auto;
        margin-right: 20px;
}

.text-content h1 {
        margin-bottom: 10px;
        
}

.text-content p {
        margin-bottom: 20px;
        
}

.what-we-do {
        flex: 1;
        padding: 20px;
        color: #fff; /* Text color */
        background-size: cover;
        background-position: center;
}

.what-we-do h2 {
        margin-bottom: 10px;
}

.what-we-do ul {
        list-style-type: none;
        padding: 0;
        /* Style your list */
}

.what-we-do ul li {
        margin-bottom: 5px;
        
}

/* Add responsive design */
@media (max-width: 768px) {
        .services-container {
                flex-direction: column;
        }

        .service-image {
                width: 100%; /* Full width on smaller screens */
        }
}
.projects-section {
        background-color: #e4ab3f; 
        text-align: left; 
        padding: 30px 15px; 
        color: #fff;
    }
    
    .projects-section h5 {
        margin-bottom: 10px; 
    }
    
    .projects-section hr {
        width: 10%; 
        border: none;
        height: 4px; 
        background-color: black; /* Line color */
        margin: 0 auto; 
        margin-bottom: 20px; /* Space below the line */
    }
    
    .gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        padding: 0 10px; 
    }
    
    .gallery-item {
        margin: 10px; /* Space around each gallery item */
        position: relative; /* Position relative to the caption */
    }
    
    .gallery-item img {
        width: 100%; 
        height: auto;
        max-width: 300px; 
    }
    
    .caption {
        position: absolute;
        bottom: 10px; 
        left: 50%;
        transform: translateX(-50%); /* Center the caption */
        background-color: #000; /* Caption background color */
        color: #fff; /* Caption text color */
        padding: 5px 10px; 
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
        .gallery-item {
            width: 48%; 
        }
    }
    
    @media (max-width: 480px) {
        .gallery-item {
            width: 100%; /* One image per row on very small screens */
        }
    }

    .contact-section {
        display: flex;
        width: 100%;
    }
    
    .contact-image {
        flex: 1;
      
        background: url('/images/contactus.jpg') no-repeat center center;
        background-size: cover;
        height:"400";
        width:"700"
        h
    }
    
    .contact-form {
        
        flex: 1;
        padding: 50px ;
        background: #000000; 
        text-align: left;

    }
    
    .contact-form h2 {
        margin-bottom: 30px;
    }
    
    .contact-form form {
        
        display: flex;
        flex-direction: column;
    }
    
   /* Apply to all form elements */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"] {
    width: 100%; 
    padding: 5px; 
    margin-bottom: 30px; 
    border: 1px solid rgb(250, 141, 39);
    background-color: transparent; 
    color: #fff;
    font-size: 16px; }

/* Placeholder styling */
::placeholder {
    color: #fff; 
    font-size: 12px; 
    opacity: 1; }


::-webkit-input-placeholder {
    font-size: 12px;
    color: #fff;
}

:-ms-input-placeholder {
    font-size: 12px;
    color: #fff;
}

/* Style the submit button */
form button[type="submit"] {
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #ff8c00; /* Adjust button background color */
    color: #fff; 
    font-size: 16px; 
    cursor: pointer; 
}

form button[type="submit"]:hover {
    background-color: #e67e00; /* Darker shade for hover effect */
}

/* You might need to adjust colors, font sizes, and padding to exactly match the design */

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .contact-section {
            flex-direction: column;
        }
    
        .contact-image {
            height: 200px; /* Fixed height or percentage based on preference */
        }
    }

    .site-footer {
        background-color: #141212;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding:  50px ;
    }
    
    .footer-about,
    .footer-services,
    .footer-links,
    .footer-newsletter {
        flex: 1;
        padding: 0 20px;
    }
    .svg{
        padding: 5px;
    }
    .footer-logo {
        width: 200px; /* Adjust as needed */
        margin-bottom: 10px;
    }
    
    .site-footer h5 {
        margin-bottom: 10px;
        color: #ffffff; /* Golden color for titles */
    }
    
    .site-footer p,
    .site-footer ul {
        font-size: 12px;
        line-height: 1.6;
    }
    
    .site-footer ul {
        list-style-type: none;
        padding: 0;
    }
    
    .site-footer li {
        margin-bottom: 5px;
    }
    
    .site-footer form {
        margin-top: 10px;
    }
    
    .site-footer input[type="email"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        width: calc(100% - 20px); /* Adjust input width */
    }
    
    .site-footer button {
        background-color: #ffd700; /* Golden color for button */
        color: #333;
        border: none;
        cursor: pointer;
    }
    
    .site-footer button:hover {
        opacity: 0.9;
    }
    
    /* Responsive layout adjustments */
    @media (max-width: 768px) {
        .site-footer {
            flex-direction: column;
        }
    
        .footer-about,
        .footer-services,
        .footer-links,
        .footer-newsletter {
            padding: 10px 0;
            text-align: center; /* Center content on smaller screens */
        }
    
        .footer-logo {
            margin: 0 auto; 
        }
    }